@using RequestResponseModels.Posts.Request
@model InsertPostRequest

<h2>Create New Post</h2>

<form asp-action="CreatePost" method="post">
    <div class="form-group">
        <label for="Title">Title:</label>
        <input type="text" class="form-control" id="Title" name="Title" asp-for="Title" />
    </div>
    <div class="form-group">
        <label for="Body">Body:</label>
        <textarea class="form-control" id="Body" name="Body" asp-for="Body"></textarea>
    </div>
    
    <div class="form-group">
        <label for="TopicId">Topic:</label>
        <select class="form-control" id="TopicId" name="TopicId" asp-for="TopicId">
            <option value="1002">No Topic</option>
            <option value="1">Gaming</option>
            <option value="2">Cooking</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Create Post</button>
</form>